<div
  #carousel
  class="relative w-full h-[420px] overflow-hidden cursor-pointer"
  (click)="handleClick($event, carousel)"
>
  <!-- Images -->
  <div
    class="flex h-full"
    [class.transition-transform]="isTransition"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    <img
      *ngFor="let img of displayImages"
      [src]="img"
      class="w-full h-full object-cover object-top flex-shrink-0"
    />
  </div>

  <!-- Left Arrow -->
  <button
    class="absolute left-12 top-1/2 -translate-y-1/2 text-gray-200 text-4xl font-light"
    (click)="prev(); $event.stopPropagation()"
  >
    ‹
  </button>

  <!-- Right Arrow -->
  <button
    class="absolute right-12 top-1/2 -translate-y-1/2 text-gray-200 text-4xl font-light"
    (click)="next(); $event.stopPropagation()"
  >
    ›
  </button>
</div>
